// Header, footer, navigation, section 
.hero {
  background-color: #1164F3;
  padding: 40px 0 50px;
  color: #ffffff;
  &__header {
    font-family: 'Domine', Times, serif;
    font-size: 55px;
    line-height: 64px;
    margin: 10px 0;
  }
  &__text {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 24px;
    line-height: 34px;
    font-weight: 300;
    margin: 10px 0;
  }
  &__image {
    width: 100%;
    height: auto;
  }
}
.examples {
  padding: 60px 0 80px;
  &__stickyPlaceholderColumn {
    display: none;
  }
  &__stickyColumn {
    position: relative;
  }
  &__category {
    font-family: 'Open Sans', Helvetica, sans-serif;
    color:#1164F3;
    font-weight: 300;
    font-size: 30px;
    line-height: 64px;
    margin: 0;
    &:after {
      content: "";
      display: block;
      width: 208px;
      border-bottom: 1px solid #D4D4D4;
      margin-bottom: 34px;
    }
  }
  &__subCategory {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 18px;
    line-height: 40px;
    color: #000000;
    transition: .25s;
    &:hover {
      cursor: pointer;
      color: #BD2380;
      transition: .25s;
    }
  }
  &__selected {
    color: #BD2380;
  }
  &__websiteExamples {
    padding-top: 85px;
  }
  &__imageGroup {
    margin-bottom: 70px;
    position: relative;
    &:hover .examples__overlay {
      display: initial;
    }
  }
  &__overlay {
    display: none;
    position: absolute;
    z-index: 2;
    width: calc(100% - 30px);
    height: calc(100% - 48px);
    background: rgba(255, 255, 255, 0.5);
    line-height: 266px;
    text-align: center;
    align-items: center;
    justify-content: center;
    &:hover {
      display: flex;
    }
  }
  &__imageLink {
    padding: 12px 32px;
    text-align: center;
    color: white;
    background: #1164F3;
    border-radius: 4px;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    &:focus, &:hover {
      text-decoration: none;
      color: #ffffff;
    }
  }
  &__image {
    position: relative;
    width: 100%;
    height: auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  &__imageText {
    text-align: center;
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0.2px;
    margin: 30px 0 0;
    color: rgba(0, 0, 0, 0.6);
  }
}

.preview {
  padding: 60px 0 80px;
  &__back {
    color:#A7A7A7;
    font-size: 14px;
    line-height: 114%;
    transition: .25s;
    font-family: 'Roboto', sans-serif;
    &:hover {
      cursor: pointer;
      color: #BD2380;
      transition: .25s; 
    }
  }
  &__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  &__svgContainer {
    margin: 0px 20px;
    transition: .25s; 
    width:50px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    &:hover {
      .preview__svg {
        fill: #BD2380;
        cursor: pointer;
        fill-opacity: 1;
        transition: .25s; 
      }
    }
  }
  &__iconSelected {
    fill: #BD2380;
    cursor: pointer;
    fill-opacity: 1;
    transition: .25s;     
  }
  &__iframeSection {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__iframe {
    border: 1px solid #A7A7A7;
    width: 100%;
    height: 633px;
    &--desktop {
      width: 100%;
      height: 633px;
    }
    &--mobile {
      width: 320px;
      height: 885px;
    }
  }
}